<%- include('partials/header') %>
    <%- include('partials/nav') %>
        <div class="pb-4 bg-white dark:bg-gray-900">
            <label for="table-search" class="sr-only">Search</label>
            <div class="relative mt-1">
                <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                    </svg>
                </div>
                <form action="/models" method="get">
                    <input type="text" id="q" name="q" value="<%= q %>"
                    class="block pt-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-purple-500 focus:border-purple-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-purple-500 dark:focus:border-purple-500"
                    placeholder="Search a model">
                </form>

            </div>
        </div>
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        MODEL
                    </th>
                    <th scope="col" class="py-3">
                        DATE FIRST PRODUCED
                    </th>
                    <th scope="col" class="py-3">
                        TYPE
                    </th>
                    <th scope="col" class="py-3">
                        FEATURES
                    </th>
                    <th scope="col" class="py-3">
                        CONCEPT
                    </th>
                    <th scope="col" class="py-3">
                        ACTIONS
                    </th>
                </tr>
            </thead>
            <tbody>
                <% for(let car of cars) { %>
                    <tr>
                        <th scope="row"
                            class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                            <img class="w-20 rounded-full h-auto max-w-xs " src='<%= car.image_url %>'
                                alt='<%= car.brand.name%> logo'>
                            <div class="ps-3">
                                <div class="text-base font-semibold">
                                    <%= car.name %>
                                </div>
                                <div class="font-normal text-gray-500"><a target="_blank"
                                        href='brand/<%= car.brand.id %>' class="hover:underline">
                                        <%= car.brand.name %>
                                    </a>
                                </div>

                            </div>
                        </th>
                        <td>
                            <%= car.date_first_produced %>
                        </td>
                        <td>
                            <%= car.type.toUpperCase()%>
                        </td>

                        <td>
                            <% for(let feature of car.features) { %>
                                <h1>
                                    <%= feature %>
                                </h1>
                                <%} %>
                        </td>
                        <td>
                            <% if (car.concept_car){ %>
                                <div class="flex items-center">
                                    <input disabled checked id="checkbox-table-search-1" type="checkbox"
                                        class="w-4 h-4 text-purple-600 bg-gray-100 border-gray-300 rounded focus:ring-purple-500 dark:focus:ring-purple-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                </div>
                                <% } else { %>
                                    <div class="flex items-center">
                                        <input disabled id="checkbox-table-search-1" type="checkbox"
                                            class="w-4 h-4 text-purple-600 bg-gray-100 border-gray-300 rounded focus:ring-purple-500 dark:focus:ring-purple-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                    </div>
                                    <% } %>
                        </td>
                        <td><a target="_blank" href='model/<%=car.id%>'
                                class="font-medium text-purple-600 dark:text-purple-500 hover:underline">
                                View
                            </a></td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
        <%- include('partials/footer') %>