<%- include('../partials/header') %>
    <%- include('../partials/nav') %>
        <form action="/model/<%= model.id %>/update" method="POST" class="max-w-sm mx-auto">
            <h1 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">
                <%=model.name%>
            </h1>

            <div class="mb-5">
                <input type="hidden" id="id" name="id" required value="<%=model.id%>" />

                <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Model
                    name</label>
                <input type="text" id="name" name="name"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    required value="<%=model.name%>" />
                <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Model
                    description </label>
                <input type="text" id="description"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    name="description" required value="<%=model.description%>" />
                <label for="topspeed" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Model
                    topspeed (KM/H)</label>
                <input type="number"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    id="topspeed" name="topspeed" min="0" required value="<%=model.topspeed%>" />
                <label for="date_first_produced"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Date First Produced</label>
                <input type="date" name="date_first_produced" id="date_first_produced"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    value="<%=model.date_first_produced%>">
                <div class="mb-5"><label for="type"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Type</label>
                    <select id="type" name="type"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option value="SEDAN">SEDAN</option>
                        <option value="STATION WAGON" <% if (model.type=='station wagon' ) { %> selected <%} %>
                                >WAGON
                        </option>
                        <option value="suv" <% if (model.type=='suv' ) { %> selected <%} %>>SUV</option>
                        <option value="convertible" <% if (model.type=='CONVERTIBLE' ) { %> selected <%} %>
                                >CONVERTIBLE
                        </option>
                        <option value="coupé" <% if (model.type=='coupé' ) { %> selected <%} %>>COUPÉ</option>
                        <option value="fastback" <% if (model.type=='fastback' ) { %> selected <%} %>>FASTBACK
                        </option>
                        <option value="hatchback" <% if (model.type=='hatchback' ) { %> selected <%} %>>HATCHBACK
                        </option>
                        <option value="supercar" <% if (model.type=='supercar' ) { %> selected <%} %>>SUPERCAR
                        </option>
                        <option value="tourer" <% if (model.type=='tourer' ) { %> selected <%} %>>TOURER</option>

                    </select>
                </div>


            </div>

            <button type="submit"
                class="text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800">Submit</button>

        </form>


        <%- include('../partials/footer') %>