<%- include('../partials/header') %>
    <%- include('../partials/nav') %>
        <form action="/model/<%= model.id %>/update" method="POST" class="max-w-sm mx-auto">

            <H1 class="flex items-center text-5xl font-extrabold dark:text-white">
                <%=model.id%>
            </H1>
            <div class="mb-5">
                <input type="hidden" id="id" name="id" required value="<%=model.id%>" />

                <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Model
                    Naam</label>
                <input type="text" id="name" name="name" required value="<%=model.name%>" />
                <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Model
                    topspeed KM/H</label>
                <input type="text" id="description" name="description" required value="<%=model.description%>" />
                <label for="topspeed" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Model
                    topspeed KM/H</label>
                <input type="number" id="topspeed" name="topspeed" min="0" required value="<%=model.topspeed%>" />
                <input type="hidden" name="concept_car" id="concept_car" value=<%=model.concept_car%>>

                <label for="date_first_produced"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">date_first_produced</label>
                <input type="date" name="date_first_produced" id="date_first_produced"
                    value="<%=model.date_first_produced%>">
                <!-- <label for="image_url" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Afbeelding
                    URL</label> -->
                <input type="hidden" id="image_url" name="image_url" required value="<%=model.image_url%>" />
                <div class="mb-5"><label for="type"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Type</label>
                    <select id="type" name="type"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option value="SEDAN">SEDAN</option>
                        <option value="STATION WAGON" <% if (model.type=='station wagon' ) { %> selected <%} %>
                                >WAGON
                        </option>
                        <option value="SUV" <% if (model.type=='SUV' ) { %> selected <%} %>>SUV</option>
                        <option value="CONVERTIBLE" <% if (model.type=='CONVERTIBLE' ) { %> selected <%} %>
                                >CONVERTIBLE
                        </option>
                        <option value="COUPÉ" <% if (model.type=='COUPÉ' ) { %> selected <%} %>>COUPÉ</option>
                        <option value="FASTBACK" <% if (model.type=='FASTBACK' ) { %> selected <%} %>>FASTBACK
                        </option>
                        <option value="HATCHBACK" <% if (model.type=='HATCHBACK' ) { %> selected <%} %>>HATCHBACK
                        </option>
                        <option value="SUPERCAR" <% if (model.type=='SUPERCAR' ) { %> selected <%} %>>SUPERCAR
                        </option>
                        <option value="TOURER" <% if (model.type=='TOURER' ) { %> selected <%} %>>TOURER</option>

                    </select>
                </div>
                <div style="display: none;" class="mb-5">
                    <select id="features" name="features"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        multiple>
                        <% for(feature of model.features){%>
                            <option value="<%=feature%>" selected>
                                <%=feature%>
                            </option>
                            <%}%>
                    </select>
                </div>
                <input type="hidden" id="brand" name="brand[id]" required value="<%=model.brand.id%>" />
                <input type="hidden" id="brand_name" name="brand[name]" required value="<%=model.brand.name%>" />
                <input type="hidden" id="brand_country" name="brand[country]" required
                    value="<%=model.brand.country%>" />
                <input type="hidden" id="brand_logo" name="brand[logo]" required value="<%=model.brand.logo%>" />
                <input type="hidden" id="brand_foundedYear" name="brand[foundedYear]" required
                    value="<%=model.brand.foundedYear%>" />
                <input type="hidden" id="brand_website" name="brand[website]" required
                    value="<%=model.brand.website%>" />


            </div>

            <button type="submit"
                class="text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800">Submit</button>

        </form>


        <%- include('../partials/footer') %>